*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
}

.top
{
    width: 100%;
    height: 89vh;
    background-color: yellow;
    display: flex;
    flex-direction: row;
}

.top-left
{
    width: 20%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-left-header
{
    width: 95%;
    height: 20%;
    background-color:#1f1f1f;
    border-radius: 10px;
    padding:15px 30px ;
}

.icon-allign
{
    display: flex;
    align-items: center;
    color:#b1b1b1 ;
}

.icon-allign:hover
{
    cursor: pointer;
    color:white ;
}

.top-left-header h3
{
    margin-left: 10px;
}

.top-left-main
{
    width: 95%;
    height: 50%;
    background-color: #1f1f1f;
    border-radius: 10px 10px 0 0;
    margin-top: 5px;
}

.top-left-main-header
{
    width: 100%;
    height: 20%;
    /* background-color: orangered; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:#b1b1b1 ;
    padding-left: 30px ;
}

.top-left-main-header .space
{
    margin-right: 10px;
}


.top-left-main-header-gauche
{
    width: 60%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.top-left-main-header-gauche:hover
{
    color: white;
    cursor: pointer;
}


.top-left-main-header-droite
{
    width: 15%;
    height: 80%;
    /* background-color: rgb(43, 43, 226); */
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-left-main-header-droite:hover
{
    background-color: #a6a1a1 ;
    color: white;
    cursor: pointer;
}

.top-left-main-center
{
    width: 100%;
    height: 80%;
    /* background-color: rgb(49, 117, 12); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow:auto;
   justify-content: center;
   
}


.top-left-main-center .rectangle
{
    width: 95%;
    height: 80%;
    background-color:#434343;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7px;
    font-weight: bold;
}

.top-left-main-center .rectangle h4
{
    margin-bottom: 18px;
    color: white;
}

.top-left-main-center .rectangle h5
{
    color: white;
}

.top-left-main-center .rectangle button
{
    width:70%;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    margin-left: 5px;
    color: black;
    font-weight: bold;
}

.top-left-main-center .rectangle button:hover
{
    cursor: pointer;
    background-color: #dad8d8;
    transform: scale(1.1);
}

.btn2
{
    width:60%;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 0.6rem;
}

.top-left-footer
{
    width: 95%;
    height: 30%;
    background-color:  #1f1f1f;   
    border-radius: 0 0 10px 10px;
    padding-left: 30px ;
}


.top-left-footer h5
{
    color: #7f7f7f;
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: bold;
}

.top-left-footer h5:hover
{
    cursor: pointer;
    text-decoration: underline #7f7f7f;
}


.top-left-footer button
{    
    border: 1px solid white;
    background-color: black;
    border-radius: 15px;
    color: white;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    
}

.top-left-footer button:hover
{
    cursor: pointer;
    transform: scale(1.1);
    border: 2px solid white;
}

.top-left-footer button .space2
{
    margin-right: 3px;
}

.top-right
{
    width: 80%;
    height: 100%;
    background-color: pink;
    display: flex;
    flex-direction: column;
}

.top-right-header
{
    height:13% ;
    width: 100%;
    background-color: black;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-right-header-gauche
{
    width: 15%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.top-right-header-gauche .fleches
{
        width:30px ;
        height: 30px;
        border-radius: 50%;
        margin-right: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #7f7f7f;
        background-color: #1f1f1f;
}

.top-right-header-gauche .fleches:hover
{
    cursor: pointer;
    color: white;

}

.top-right-header-droite
{
    width: 40%;
    height: 100%;
    /* background-color: rgb(25, 0, 255); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top-right-header-droite .btn1
{margin-right: 10px;
 height: 50%;
width: 40%;
border-radius: 30px;
border: 2px solid black;
color: #7f7f7f;
background-color: black;
font-weight: bold;
font-size: 1rem;
}

.top-right-header-droite .btn1:hover
{
    cursor: pointer;
    transform: scale(1.1);
    color: white;
}

.top-right-header-droite .btn2
{margin-right: 10px;
 height: 60%;
width: 45%;
border-radius: 30px;
border: 2px solid white;
color: black;
background-color: white;
font-weight: bold;
font-size: 1.1rem;
}

.top-right-header-droite .btn2:hover
{
    cursor: pointer;
    transform: scale(1.05);
    background-color:#dad8d8 ;

}

.top-right-main
{
    height:87% ;
    width: 100%;
    background-color:#1f1f1f;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
     overflow: auto;
    
}


.top-right-main .titre 
 {
    width: 100%;
    height:15%;
    /* background-color: rgb(36, 21, 148); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
 }

 .top-right-main .titre h1
 {
    color: white;
    font-size: 1.7rem;
 }

 .top-right-main .titre h1:hover
 {
    cursor: pointer;
    text-decoration: underline white;
 }

 .top-right-main .titre p
 {
    color: #7f7f7f;
    font-weight: bold;
 }


 .top-right-main .titre p:hover
 {
    cursor: pointer;
    text-decoration: underline #7f7f7f;
 }

.top-right-main .boxes
{
    width: 100%;
    height:76%;
    /* background-color:red; */
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding:0 20px;
   align-items: center;
   
}


.top-right-main .boxes .box
{
    width: 23%;
    height: 95%;
    background-color:#151515;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;

}



.top-right-main .boxes .box:hover
{
    cursor: pointer;
    background-color:#434343;
    transform: scale(1.05); 
}



.top-right-main .boxes .box .logo-play
{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.top-right-main .boxes .box .logo-play:hover
{
    cursor:pointer ;
    opacity: 1;
}

.top-right-main .boxes .box .logo-play .icone
{
    width: 45px;
    height: 45px;
    background-color: #1ed760;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 79%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}



.top-right-main .boxes .box .logo-play .icone:hover
{
    cursor: pointer;
    width: 48px;
    height: 48px;
}


.top-right-main .boxes .box .top
{
    width: 85%;
    height: 70%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}


.top-right-main .boxes .box .top img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.top-right-main .boxes .box .bottom
{
    width: 90%;
    height: 30%;
    /* background-color: rgb(225, 225, 225); */
    display: flex;
    flex-direction: column;
   justify-content: center;
    padding-left: 5px;
}

.top-right-main .boxes .box .bottom h3
{
    margin-bottom: 5px;
    color: white;
}

.top-right-main .boxes .box .bottom p
{
    color: #7f7f7f;
    font-size: 0.9rem;
    font-weight: bold;
}



.top-right-main .boxes2
{
    width: 50%;
    height:76%;
    /* background-color:red; */
   display: flex;
   flex-direction: row;
   padding:0 20px;
   align-items: center;
   justify-content: space-between;
   
}


.top-right-main .boxes2 .box2
{
    width: 48%; 
    height: 95%;
    background-color:#151515;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;

}



.top-right-main .boxes2 .box2:hover
{
    cursor: pointer;
    background-color:#434343;
    transform: scale(1.05);
    color: whitesmoke;
}

.top-right-main .boxes2 .box2 .logo-play
{
    width: 100%;
    height: 100%;
    background-color:transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.top-right-main .boxes2 .box2 .logo-play:hover
{
    cursor:pointer ;
    opacity: 1;
}

.top-right-main .boxes2 .box2 .logo-play .icone
{
    width: 45px;
    height: 45px;
    background-color: #1ed760;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 79%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}



.top-right-main .boxes2 .box2 .logo-play .icone:hover
{
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.top-right-main .boxes2 .box2 .top
{
    width: 85%;
    height: 70%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}


.top-right-main .boxes2 .box2 .top img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.top-right-main .boxes2 .box2 .bottom
{
    width: 90%;
    height: 30%;
    /* background-color: rgb(225, 225, 225); */
    display: flex;
    flex-direction: column;
   justify-content: center;
    padding-left: 5px;
}

.top-right-main .boxes2 .box2 .bottom h3
{
    margin-bottom: 5px;
    color: white;
}

.top-right-main .boxes2 .box2 .bottom p
{
    color: #7f7f7f;
    font-size: 0.9rem;
    font-weight: bold;
}


.espace
{
    width: 100%;
    height: 10%;
    background-color: #1f1f1f;
}


.pub
{
    width: 100%;
    height: 11vh;
    background: rgb(253,31,188);
    background: linear-gradient(90deg, rgba(253,31,188,1) 26%, rgba(230,40,175,1) 38%, rgba(157,26,244,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pub-gauche
{
    width: 65%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    color: white;
}

.pub-droite
{
    width: 30%; 
    height: 100%;
    /* background-color: rgb(68, 255, 0); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pub-droite button
{
height: 70%;
width: 60%;
border-radius: 30px;
border: 2px solid white;
color: black;
background-color: white;
font-weight: bold;

}

.pub-droite button:hover
{
    cursor: pointer;   
    transform: scale(1.1); 
    background-color:#dad8d8 ;
}